*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  color: #333333;
  background-color: #eeeeee;
  height: 100%;
  scroll-behavior: smooth;
}



body.is-froze {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Raleway", "Open Sans", sans-serif;
}

.nav a {
  color: #333333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.nav a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav a:hover {
  color: #7d87a8;
}



.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  width: calc(100% - 60px);
  /*height: 100vh;*/
  min-height: 100vh;
  height: 100%;
  margin-left: 60px;
  background-color: #eeeeee;

  -webkit-transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  
  /*
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
  */
  
  /*
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  */
  
  /*
  will-change: width, height, opacity, transform, clip-path;
  */
  
  z-index: 1;
}
.main.is-active {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  width: calc(100vw - 60px);
  pointer-events: none;
  opacity: 0.25;
  -webkit-transform: scale(0.9) translate3d(40%, 0, 0);
          transform: scale(0.9) translate3d(40%, 0, 0);
}
@media (min-width: 600px) {
  .main.is-active {
    -webkit-transform: scale(0.9) translate3d(20%, 0, 0);
            transform: scale(0.9) translate3d(20%, 0, 0);
  }
}
.main.is-transition-out {
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
}

@media (min-width: 600px) {

}


.nav__bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  border-right: 1px solid rgba(125, 135, 168, 0.25);
  background-color: #191b22;
  z-index: 99;
}

.nav__trigger {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  padding: 8px 0;
  margin-top: -10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 99;
}
.nav__trigger .bars {
  position: relative;
}
.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
  width: 28px;
  height: 4px;
  background-color: #7d87a8;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
}
.nav__trigger .bars:before, .nav__trigger .bars:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.nav__trigger .bars:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.nav__trigger .bars:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}
.nav__trigger.is-active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
  -webkit-transform: translateX(0) rotate(-90deg);
          transform: translateX(0) rotate(-90deg);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #191b22;
  z-index: 0;
}

.nav__list {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding-left: 60px;
  list-style: none;
  font-family: "Raleway", "Open Sans", sans-serif;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav__list .nav__item {
  padding: 0.5rem 1rem;
}
@media (min-width: 600px) {
  .nav__list .nav__item {
    width: 33.3333333333%;
    padding: 0.5rem 1rem;
  }
}
.nav__list a {
  display: inline-block;
  color: #7d87a8;
  font-size: 1rem;
  line-height: 1.5;
}
.nav__list a:hover, input:hover {
  color: #b1b7cb;
}
.nav__list a.is-active, input.is-active {
  color: #d2d5e1;
}
@media (min-width: 600px) {
  .nav__list a {
    font-size: 1.5rem;
  }
}
