
.container { width: 800px; margin: 0 auto; }

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

/*input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }*/

#body_notifications {
	padding: 1rem .5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	color: #333;
}

form {	
	padding: 30px;
	color: white;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}


#buttEditDoc{
	width: 270px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

/*всплывающая форма*/

.dialog_box{
	
	align-items: center;
	justify-content: center;
	
	display: flex;
	display: none;
	
	background: #0009;
	height: 100%;
	opacity: 1;
	position: fixed;
	
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
}

#windowAddDevice {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #fff;
	height: 300px;
	position: fixed;

	color: #000;
	width: 400px;
	
	padding-left: 10px;
	padding-right: 10px;
}


#windowAddSubject {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #fff;
	height: 300px;
	position: fixed;

	color: #000;
	width: 400px;
	
	padding-left: 10px;
	padding-right: 10px;
}


/*Форма указания задела корректируемых документов*/
.main{
	position: fixed;
}

#windowCorrDoc{

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	height: 600px;
	position: fixed;
	
	color: #000;
	width: 900px;
	
	padding-left: 10px;
	padding-right: 10px;	
}

.ui-autocomplete-loading {
   background: white url("img/ui-anim_basic_16x16.gif") right center no-repeat;
}

/*всплывающая форма*/

#divTab{
	overflow-y: scroll;
	height: 100%;
	display: flex;
	justify-content: center;
}

#AddDevice{
	height: 95%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#AddSubject{
	height: 95%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#buty{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.btCancel{
	padding: 10px 0;
	border-width: 0;
	display: block;
	width: 120px;
	margin: 25px auto 0;
	background: #FF6347;
	color: white;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
}

.btSubmit{
	padding: 10px 0;
	border-width: 0;
	display: block;
	width: 120px;
	margin: 25px auto 0;
	background: #23b319;
	color: white;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
}


#AddCorrDoc{
	height: 80%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}

#add_row{
	padding: 10px 0;
	border-width: 0;
	display: block;
	width: 40px;
	height:40px;
	margin: 25px auto 0;
	background: #23b319;
	color: white;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
}

#corr_doc{
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  height:40px;
  /*margin: 10px auto 0;*/
  background:#23b319;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}

/*вкладки*/

.tabs { width: 100%; padding: 0px; margin: 0 auto; }
.tabs>input { display:none; }
.tabs>div {
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
#tab_1:checked ~ #field_tab_1,
#tab_2:checked ~ #field_tab_2 { display: block; }

#field_tab_1{
	background: #b4b5b6;
	border-radius: 0px 0px 5px 5px;
}

#field_tab_2{
	background: #b4b5b6;
	border-radius: 0px 0px 5px 5px;
}

#description_form{
	margin-bottom: 20px;
	width: 92%;
	font-size: 1.2rem
}

.btDelete button{
	cursor: pointer;
	border-width: 0;
	display: block;
	background: #FF6347;
	color: white;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
}

.btn_field_tab_1 {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  margin: 25px auto 0;
  background: #FF6347;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}

.btn_field_tab_2 {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  height: 38px;
  margin: 25px auto 0;
  background: #23b319;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}

/* field_tab_2 */

#rowsTabl{

}

.field{
	width: 270px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pdf{
	width: 270px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.field input, #rowsTabl input, select {
  width: 250px;
  padding: 10px 15px;
  border-width: 0;
  background: #e6e6e6;
  outline: none;
  margin: 0;  
}

textarea{
  width: 250px;
  padding: 10px 15px;
  border-width: 0;
  background: #e6e6e6;
  outline: none;
  margin: 0;
  height: 100px;
}

#commentField{
	height: 163px;
}

.addInput{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-bottom: 20px;
}



/* field_tab_2 */

/*вкладки*/

.footer{
	margin-top: 2rem;
	padding-top: 1rem;
	
	border-top: 8px double #f9f9f9;
	display: flex;
	height: 135px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	/*background: #b4b5b6;*/
	/*background: #b5b6b7;*/
}

.details_block{
	margin-top: 2rem;
	padding-top: 1rem;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	
	display: flex;
	align-items: top;
	justify-content: space-around;
}


.description_form{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 18px;
}

#a_summary{
	display: flex;
	justify-content: right;
}

img {
	max-width: 100%;
}

.notifications{
	display: flex;
	justify-content: center;
	
	/*изменине расстояния между ячейками в таблице (30px - горизонатальное, 8px - вертикальное)*/
	border-spacing: 50px 12px; 
}


.Header {
	text-align: center;	
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.Strap {
	font-size: 1rem;
}


.MoneyShot {
	position: relative;
}

.MoneyShotImg {
	border: 2.5px solid #e8cfa9;
	border-radius: 4px;
}

.LogoWrapper {
	display: block;
}

.ImageCaption {
	font-size: .75rem;
	position: absolute;
	bottom: .5rem;
	right: 1rem;
}

.IntroText {
	font-size: 1.8rem;
	font-style: italic;
}

.MethodWrapper li {
	padding: .4rem 0;
}

.MethodWrapper li:after {
	content: "✼";
	display: block;
	text-align: center;
	margin: 1rem 0 .5rem 0;
	color: #eee;
}



@media screen and (min-width: 50rem) {


	.IntroWrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.MoneyShot,
	.IntroText {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		text-align: center;
	}

	.IntroText {
		padding: .5rem;
		font-size: 2.5rem;
		text-align: left;
		position: relative;
	}

	.Ingredients {
		font-size: .9rem;
		float: right;
		padding: 1rem;
		margin: 0 0 .5rem 1rem;
		border-radius: 3px;
		background-color: #ffffdf;
		border: 2px solid #e8cfa9;
	}

	.Ingredients h3 {
		margin: 0;
	}
}
