<div th:fragment="panels">
    <div class="nav__bar">
        <a href="#" class="nav__trigger">
            <div class="bars"></div>
        </a>
    </div>

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Главная</a></li>
            <li class="nav__item"><a href="/profile">Профиль</a></li>
            <li class="nav__item"><a href="/subjects">Темы</a></li>
            <li class="nav__item"><a href="/devices">Изделия</a></li>
            <li class="nav__item"><a href="/documents">Документы</a></li>
            <li class="nav__item"><a href="/notifications">Извещения</a></li>
            <li class="nav__item"><a href="/drawing">Систематизированные<br>чертежи</a></li>
            <li class="nav__item"><a href="/screws">Изделия крепежные</a></li>
            <li class="nav__item"><a href="/logout">Выход</a></li>
        </ul>
    </nav>



    <script  src="/js/panels.js"></script>
</div>